.profileinput__label {
    color: #fff;
    width: 90%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-bottom: 16px;
}

.profileinput__placeholder {
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    width: 50px;
}


.profileinput__field {
  margin-left: 147px;
  border: none;
  background-color: inherit;
  color: #fff;
}

.profileinput__error {
  position: absolute;
  color: #EE3465;
  font-size: 14px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 382px;
}

@media screen and (max-width: 760px) {
  .profileinput__error {
    top: 70%;
    max-width: 100%;
  }
}

  @media screen and (max-width: 525px) {
    .profileinput__label {
      max-width: 260px;
    }

    .profileinput__field {
      margin-left: 50px;
    }

    .profileinput__error {
      font-size: 12px;
      top: 75%;
    }

  }