.checkbox {
    display: flex;
    align-items: center;
    text-align: center;
}

.checkbox__image:hover {
    cursor: pointer;
}

.checkbox__title {
    color: #FFF;
    margin: 0;
}

.checkbox__search {
    visibility: hidden;
    width: 36px;
    height: 20px;
  }

.checkbox__image {
    margin-right: 12px;
    border: none;
    width: 36px;
    height: 20px;
    transition: background 0.2s ease;
}
