.about {
    padding: 100px 0;
    color: #FFF;
}

.about__info {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, auto));
    row-gap: 26px;
    column-gap: 40px;
    max-width: 100%;
    margin-bottom: 110px;
}

.about__column-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.about__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about__timeline {
    margin: 0 auto;
    min-width: 100%;
    display: grid;
    grid-template-columns: calc(228/912*100%) 1fr;
    row-gap: 14px;
}

.about__duration {
    margin: 0;
    background-color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
}

.about__duration_backend {
    background-color: #3DDC84;
    color: #000000;
}

.about__label {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: 0;
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}